.home-section-2 {
    margin-top: 50px;
    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }
    swiper-container {
        margin-top: 30px;
        height: 360px;
        background-color: #f5f5f5;
        padding: 30px;
        border-radius: 12px;
        swiper-slide {
            max-width: 250px;
            .product-card {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-width: 160px;
                cursor: pointer;
                border-radius: 4%;
                transition: 0.2s;
                height: 300px;
                background-color: #fff;
                .image-container {
                    width: 100%;
                    height: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    p {
                        position: absolute;
                        bottom: 130px;
                        left: 5px;
                        background-color: rgb(247, 144, 9);
                        padding: 5px 8px;
                        font-size: 9px;
                        font-weight: 500;
                        font-feature-settings: "case";
                        color: rgb(255, 255, 255);
                        line-height: 16px;
                        border-radius: 20px;
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
                article {
                    padding: 10px;
                    padding-top: none;
                    p {
                        color: #EC5E2A;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        font-family: Roboto Flex, sans-serif;
                        span {
                            color: #3B3B3B;
                            font-size: 12px;
                            padding-left: 3px;
                            text-decoration: line-through;
                        }
                    }
                    h2 {
                        color: var(--product-black);
                        opacity: 0.8;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        max-height: 36px;
                        overflow: hidden;
                        font-family: Roboto Flex, sans-serif;
                    }
                    .action-buttons {
                        position: absolute;
                        bottom: 15px;
                        gap: 10px;
                        display: flex;
                        width: 90%;
                        button {
                            padding: 14px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40px;
                            border: none;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 20px;
                            opacity: 0.8;
                            cursor: pointer;
                        }
                        .add-to-cart-button {
                            position: relative;
                            background: #EC5E2A;
                            border-radius: 4px;
                            padding: 10px 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 8px;
                            overflow: hidden;
                            pointer-events: auto;
                            opacity: 1;
                        }
                    }
                }
            }
        }  
    }
}

swiper-container::part(wrapper) {
  justify-content: center;
}