.small-commerical {
    background-color: #EC5E2A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .commerical-container {
        max-width: 1440px;
        font-family: Anton, sans-serif;
        color: #fff;
        font-size: 16px;
        padding-block: 10px;
        letter-spacing: 4px;
        font-weight: 400;
        text-align: center;
    }
}
.main-nav {
    background-color: #F2F0F0;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 45px;
    z-index: 100;
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 15px;
        height: 100%;
        .logo-text {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            img {
                height: 130px;
                width: auto;
            }
            h1 {
            font-family: Roboto Slab, serif;
            color: #EC5E2A;
            font-size: 24px;
            position: absolute;
            left: 115px;
        }
        }
    }
    .search {
        .input-container {
            position: relative;
            input {
                width: 500px;
                height: 40px;
                border: 1px solid #EC5E2A;
                border-radius: 15px;
                padding: 0 10px;
                font-size: 14px;
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 10px #EC5E2A;
                }
            }
            .search-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
    ul {
        display: flex;
        gap: 25px;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #fff;
            padding: 15px;
            border-radius: 15px;
            font-family: Roboto Flex, sans-serif;
            cursor: pointer;
            i {
                font-size: 18px;
            }
        }
    }
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}