.home-section-1 {
    display: flex;
    .brands {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
        background-color: #fff;
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
        border-radius: 12px;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 10px;
            width: 90%;
            li {
                padding: 10px;
                border-bottom: 1px solid #eee;
                font-family: Roboto Slab, serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #000;
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
    .commerical-banner {
        margin-left: 20px;
        flex-grow: 1;
        position: relative;
            article {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100%;
            justify-content: center;
            top: 0;
            left: 50px;
            animation: fromLeft 1s;
            span {
                background-color: #d72D2D;
                color: #fff;
                padding: 3px 10px;
                font-family: "Roboto Flex", sans-serif;
                border-radius: 7px;
                width: fit-content;
                box-shadow: 0px 0px 15px #d72D2D;
                animation: float 3s infinite;
                animation-delay: 1s;
            }
            h2 {
                font-size: 60px;
                max-width: 500px;
                font-family: "Roboto", sans-serif;
                font-weight: 600;
            }
            p {
                font-size: 20px;
                font-family: "Roboto", sans-serif;
            }
            button {
                font-family: "Roboto Flex", sans-serif;
                background-color: #EC5E2A;
                color: white;
                border: none;
                border-radius: 50px;
                padding: 16px 40px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                overflow: hidden;
                i {
                    color: #fff;
                    transform: translateX(250px);
                    font-size: 20px;
                }
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0px 0px 15px #EC5E2A;
                    text-shadow: 0px 0px 10px #fff;
                    letter-spacing: 1px;
                    i {
                        transition: 0.3s;
                        transform: translateX(0px);
                    }
                }
            }
        }
        .banner-image {
            width: 100%;
            min-height: 530px;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
        }
    }
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}